// ====================================================================
// - Virgo Utility Class
// - Position > Relative
// ====================================================================

@import "../../mixins.scss";

// --------------------------------------------------------------------
// * Default Classes
// --------------------------------------------------------------------

.relative					{ @include relative; }

// --------------------------------------------------------------------
// * Small Screen
// --------------------------------------------------------------------
@media screen and
( max-width: calc($media-md - 1px) )	{

.sm\:relative				{ @include relative; }

}
// --------------------------------------------------------------------
// * Medium Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $media-md ) and
( max-width: calc($media-lg - 1px) )	{

.md\:relative				{ @include relative; }

}
// --------------------------------------------------------------------
// * Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $media-lg ) and
( max-width: calc($media-xl - 1px) )	{

.lg\:relative				{ @include relative; }

}
// --------------------------------------------------------------------
// * Extra-Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $media-xl ) and
( max-width: calc($media-xxl - 1px) )	{

.xl\:relative				{ @include relative; }

}
// --------------------------------------------------------------------
// * Extra-Extra-Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $media-xxl )         {
.xxl\:relative				{ @include relative; }

}
