// ====================================================================
// - Virgo Utility Class
// - Element > List
// ====================================================================

// --------------------------------------------------------------------
// Ordered List
// --------------------------------------------------------------------
ol {
	list-style: none;
	counter-reset: list-counter;

	li {
		display: flex;
		counter-increment: list-counter;
		margin-bottom: 0.5em;
		line-height: 1.2;

		&::before {
			width: 2.4rem;
			content: counter(list-counter) ".";
		}
	}
}