@mixin menuStyle () {
	position: fixed;

	border-radius: var(--roundness);
	background-color: #ffffffcc;
	backdrop-filter: blur(50px);
	box-shadow: 0 2px 3px #00000010, 0 0 60px #00000010;

	z-index: 9000;
}

.dropdown-menu {
	
	padding-top: var(--space);
	padding-bottom: var(--space);

	display: flex;
	flex-direction: column;

	@include menuStyle();
	
	button, a {
		width: 100%;
		padding: var(--space) calc(var(--space) * 2);
		padding-bottom: 1rem;
		font-weight: 400;
		font-size: 0.88em;
		text-align: left;
		border-radius: 0;
		background-color: transparent;

		display: flex;
		justify-content: flex-start;

		&:last-child {
			border-bottom: none;
		}
		
		&:focus {
			box-shadow: none;
		}
	}

	button:hover {
		background-color: var(--color-shade);
	}


	.divider {
		height: 1px;
		margin: var(--space) 0;
		background-color: var(--color-shade);
	}

}

.dropdown:not([data-state="open"]) {
	.dropdown-menu, .dropdown-content {
		display: none;
	}
}

.dropdown-content {
	@include menuStyle();
}