---
layout: docs.njk
title: Grid System
slug: layouting/grid-system
---

<section>
	<h1 class="mb-2">Grid System</h1>
	<p>
		With Virgo, we have options to use fixed-width columns or flexible columns.
		The 12-column grid is suitable to build consistent layout accross devices,
		while with flexible-width columns is more suitable for design that's required to adjust to its content size.
		We can even combine both fixed and flexible columns to achieve more advanced layout.
	</p>
</section>

<section class="mt-4">
	<h4 class="mb-2">Rows &amp; Columns</h4>
	<p>
		It is important to understand the role of rows and columns in this grid system.
		Rows and columns are the basic building blocks of layout, with columns are placed inside a row.
	</p>
	<p>
		A <strong>row</strong> can contain 12 fixed-width columns and (theoretically) unlimited number of flexible columns.
		Row is defined by using <code>row</code> class on an HTML element, preferably <code>div</code> element.
	</p>
	<pre><code class="language-html">
{{ '<div class="row">
  ...we will put columns here...
</div>' }}
	</code></pre>
	<p>
		By default a row fills its container width, unless specified otherwise using <a href="#">width utility classes.</a>
	</p>
</section>


<div class="flex justify-between mt-4">
	<a href="./layouting/overview" class="button outline primary"><i class="icon">arrow_back</i> Layouting Overview</a>
	<a href="./layouting/responsive-grid" class="button outline primary">Next: &nbsp; <strong>Responsive Grid</strong> <i class="icon right">arrow_forward</i></a>
</div>
