@import "./ModalContainer.scss";
@import "./ModalBackdrop.scss";

.modal {
	width 		: 48rem;
	max-width 	: calc(100vw - 4rem);

	border-radius 		: calc(var(--roundness) * 2);
	background-color 	: #ffffff;
	box-shadow 			: 0 12px 100px #292D3227;

	.modal-header {
		position 		: relative;
		display 		: flex;
		margin-bottom 	: -0.5rem;
		padding 		: 2rem;
		align-items 	: center;
		justify-content : space-between;
		min-height 		: calc(1.2em + 2rem);
		user-select 	: none;

		.title {
			font-size 	: 0.9em;
			color 		: #000000dd;
			font-weight : 500;
		}
	} // .modal-body

	.modal-body {
		padding 	: 2rem 2rem;
	} // .modal-body

	.modal-footer {
		display 		: flex;
		align-items 	: center;
		justify-content : flex-end;
		padding 		: 1rem 1.5rem 1.5rem;

		.button {
			margin-left : 0.5rem;
		}
	} // .modal-footer

	button.close {
		position 		: absolute;
		top 			: 1rem;
		right 			: 1rem;
		padding 		: 0.5rem;
		font-size 		: 1.2em;
		font-family 	: var(--font-icon);
		border-radius 	: 50%;
		color 			: #00000088;
		cursor 			: pointer;

		-webkit-tap-highlight-color: transparent;

		&:hover {
			background-color: #00000011;
		}

		&:active {
			background-color: #00000020;
		}
	}

} // .modal
