@for $i from 0 through 9
    .pt-#{$i}
        padding-top: 1.2rem * $i !important
    .pb-#{$i}
        padding-bottom: 1.2rem * $i !important
    .pl-#{$i}
        padding-left: 1.2rem * $i !important
    .pr-#{$i}
        padding-right: 1.2rem * $i !important
    .px-#{$i}
        padding-left: 1.2rem * $i !important
        padding-right: 1.2rem * $i !important
    .py-#{$i}
        padding-top: 1.2rem * $i !important
        padding-bottom: 1.2rem * $i !important
    .pa-#{$i}
        padding: 1.2rem * $i !important

@for $i from 10 through 19
    .pt-#{$i}
        padding-top: 1.2rem * $i !important
    .pb-#{$i}
        padding-bottom: 1.2rem * $i !important
    .pl-#{$i}
        padding-left: 1.2rem * $i !important
    .pr-#{$i}
        padding-right: 1.2rem * $i !important
    .px-#{$i}
        padding-left: 1.2rem * $i !important
        padding-right: 1.2rem * $i !important
    .py-#{$i}
        padding-top: 1.2rem * $i !important
        padding-bottom: 1.2rem * $i !important
    .pa-#{$i}
        padding: 1.2rem * $i !important

// ---------- Phone
@media screen and ( max-width: 480px )
    @for $i from 0 through 9
        .sm-pt-#{$i}
            padding-top: 1.2rem * $i !important
        .sm-pb-#{$i}
            padding-bottom: 1.2rem * $i !important
        .sm-pl-#{$i}
            padding-left: 1.2rem * $i !important
        .sm-pr-#{$i}
            padding-right: 1.2rem * $i !important
        .sm-px-#{$i}
            padding-left: 1.2rem * $i !important
            padding-right: 1.2rem * $i !important
        .sm-py-#{$i}
            padding-top: 1.2rem * $i !important
            padding-bottom: 1.2rem * $i !important
        .sm-pa-#{$i}
            padding: 1.2rem * $i !important