// * Text Alignment
.text-left
    text-align: left
.text-center
    text-align: center
.text-right
    text-align: right
.text-justified
    text-align: justified

// * Text Color
.text-white
    &, & > *
        color: #fff

// * Font Family
.text-sans
    font-family: $font-sans
.text-serif
    font-family: $font-serif
.text-monospace
    font-family: $font-monospace

// * Font Size
.text-small
    font-size: 0.9em
.text-smaller
    font-size: 0.92em
.text-regular
    font-size: 1em
