// ====================================================================
// - Virgo Component Class
// - Tagger
// ====================================================================

.tagger {
	position: relative;
	height: 33vh;

	// - Image container
	> .image {
		width: 100%;
		height: 100%;
		background-color: #eee;
		overflow: hidden;
		display: flex;
		justify-content: center;

		img {
			width: auto;
			height: 100%;
		}
	}

	// - Tags
	> .tags {
		display: none;
	}

	// - Tag Points
	> .tag-points {
		.tag-point {
			position: absolute;
			width: 32px;
			height: 32px;
			margin-top: -16px;
			margin-left: -16px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 8000;
			box-shadow: inset 0 0 0 16px #fff;
			opacity: 0.7;
			cursor: pointer;
			transition: all 0.3s ease-out;

			&::before {
				content: "";
				position: absolute;
				width: 38px;
				height: 38px;
				margin-top: -5px;
				margin-left: -5px;
				border: 2px solid #fff;
				border-radius: 50%;
			}

			&::after {
				content: "";
				position: absolute;
				margin-left: 0;
				margin-top: calc(0.5em - 4px);
				padding: 4px 8px;
				font-size: 0.8em;
				font-weight: 600;
				color: #171717;
				white-space: nowrap;
				border-radius: 4px;
				transition: opacity 0.3s ease-out;
				opacity: 0;
			}

			&:hover {
				background-color: $color-primary;
				box-shadow: inset 0 0 0 4px #fff;
				opacity: 1;

				&::after {
					content: attr(data-label);
					margin-left: 44px;
					background: #fff;
					opacity: 1;
					transition: all 0.3s ease-out;
				}
			}

			&:active {
				background-color: $color-primary;
				box-shadow: inset 0 0 0 6px #fff;
				opacity: 1;
				transition: none;
			}

		}
	}



}