// ====================================================================
// - Virgo Utility Class
// - Whitespace > Margin
// ====================================================================

// --------------------------------------------------------------------
// * Mixins
// --------------------------------------------------------------------

@mixin margin($value)          { margin: $value * 1rem !important; }
@mixin margin-top($value)      { margin-top: $value * 1rem !important; }
@mixin margin-right($value)    { margin-right: $value * 1rem !important; }
@mixin margin-bottom($value)   { margin-bottom: $value * 1rem !important; }
@mixin margin-left($value)     { margin-left: $value * 1rem !important; }

// --------------------------------------------------------------------
// * Default Classes
// --------------------------------------------------------------------

@for $i from 0 through 12       {

// All
.ma-#{$i}                       { @include margin($i); }
// Horizontal (x-axis)
.mx-#{$i}                       { @include margin-left($i); @include margin-right($i); }
// Vertical (y-axis)
.my-#{$i}                       { @include margin-top($i); @include margin-bottom($i); }
// Individual
.mt-#{$i}                       { @include margin-top($i); }
.mr-#{$i}                       { @include margin-right($i); }
.mb-#{$i}                       { @include margin-bottom($i); }
.ml-#{$i}                       { @include margin-left($i); }

}
// --------------------------------------------------------------------
// * Small Screen
// --------------------------------------------------------------------
@media screen and
(max-width: ($md - 1px)) 		{
@for $i from 0 through 12		{

.sm\:ma-#{$i}					{ @include margin($i); }
.sm\:mx-#{$i}					{ @include margin-left($i); @include margin-right($i); }
.sm\:my-#{$i}					{ @include margin-top($i); @include margin-bottom($i); }
.sm\:mt-#{$i}					{ @include margin-top($i); }
.sm\:mr-#{$i}					{ @include margin-right($i); }
.sm\:mb-#{$i}					{ @include margin-bottom($i); }
.sm\:ml-#{$i}					{ @include margin-left($i); }

}}
// --------------------------------------------------------------------
// * Medium Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $md ) and
( max-width: ($lg - 1px) )	{
@for $i from 0 through 12		{

.md\:ma-#{$i}					{ @include margin($i); }
.md\:mx-#{$i}					{ @include margin-left($i); @include margin-right($i); }
.md\:my-#{$i}					{ @include margin-top($i); @include margin-bottom($i); }
.md\:mt-#{$i}					{ @include margin-top($i); }
.md\:mr-#{$i}					{ @include margin-right($i); }
.md\:mb-#{$i}					{ @include margin-bottom($i); }
.md\:ml-#{$i}					{ @include margin-left($i); }

}}
// --------------------------------------------------------------------
// * Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $lg ) and
( max-width: ($xl - 1px) )	{
@for $i from 0 through 12		{

.lg\:ma-#{$i}					{ @include margin($i); }
.lg\:mx-#{$i}					{ @include margin-left($i); @include margin-right($i); }
.lg\:my-#{$i}					{ @include margin-top($i); @include margin-bottom($i); }
.lg\:mt-#{$i}					{ @include margin-top($i); }
.lg\:mr-#{$i}					{ @include margin-right($i); }
.lg\:mb-#{$i}					{ @include margin-bottom($i); }
.lg\:ml-#{$i}					{ @include margin-left($i); }

}}
// --------------------------------------------------------------------
// * Extra-Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $xl ) and
( max-width: ($xxl - 1px) )	{
@for $i from 0 through 12		{

.xl\:ma-#{$i}					{ @include margin($i); }
.xl\:mx-#{$i}					{ @include margin-left($i); @include margin-right($i); }
.xl\:my-#{$i}					{ @include margin-top($i); @include margin-bottom($i); }
.xl\:mt-#{$i}					{ @include margin-top($i); }
.xl\:mr-#{$i}					{ @include margin-right($i); }
.xl\:mb-#{$i}					{ @include margin-bottom($i); }
.xl\:ml-#{$i}					{ @include margin-left($i); }

}}
// --------------------------------------------------------------------
// * Extra-Extra-Large Screen
// --------------------------------------------------------------------
@media screen and
( min-width: $xxl )             {
@for $i from 0 through 12		{

.xxl\:ma-#{$i}					{ @include margin($i); }
.xxl\:mx-#{$i}					{ @include margin-left($i); @include margin-right($i); }
.xxl\:my-#{$i}					{ @include margin-top($i); @include margin-bottom($i); }
.xxl\:mt-#{$i}					{ @include margin-top($i); }
.xxl\:mr-#{$i}					{ @include margin-right($i); }
.xxl\:mb-#{$i}					{ @include margin-bottom($i); }
.xxl\:ml-#{$i}					{ @include margin-left($i); }

}}