// ====================================================================
// - Virgo Library
// - Variables
// ====================================================================

$media-sm	: 640px;
$media-md	: 768px;
$media-lg	: 1024px;
$media-xl	: 1280px;
$media-xxl	: 1536px;

:root {

	// ----------------------------------------------------------------
	// Typefaces
	// ----------------------------------------------------------------
	--font-sans			: "SF Pro", "Helvetica Neue", "Arial", sans-serif;
	--font-serif		: "New York", "Georgia", serif;
	--font-mono			: "SF Mono", "Consolas", monospace;
	--font-icon			: "Material Icons";
	// ----------------------------------------------------------------
	--font-heading		: "SF Pro Display", var(--font-sans);
	--font-body			: var(--font-sans);
	--font-element		: var(--font-sans);

	// ----------------------------------------------------------------
	// Dimension
	// ----------------------------------------------------------------
	--base-size			: 10px;
	--font-size			: 1.8rem;
	--roundness			: 0.25em;

	// ----------------------------------------------------------------
	// Colors
	// ----------------------------------------------------------------
	--color-primary			: #2196f3;
	--color-primary-light	: #4aaaf8;
	--color-primary-dark	: #1680d8;

	--color-focus			: #2196f333;
	--color-focus-secondary	: #21c2f333;

	--color-secondary		: #21c2f3;
	--color-secondary-light	: #3dccf8;
	--color-secondary-dark	: #11b2e4;

	--color-border			: #bbbbbb;
	--color-shade			: #f6f6f6;
	--color-background		: #fefefc;
	--color-text			: #313133;

	--color-primary-text 	: #ffffff;
	--color-secondary-text 	: #ffffff;

	// ----------------------------------------------------------------
	// Animation
	// ----------------------------------------------------------------
	--transition 		: all 0.3s ease-out;

	// ----------------------------------------------------------------
	// Components
	// ----------------------------------------------------------------
	// • Navbar
	// ----------------------------------------------------------------
	--navbar-height		: 8rem;
	--navbar-select-bg	: #f2f2f2;

} // end of :root selector
