// - Virgo Component Class
// - Map

.map-container {

	position 	: relative;

	// Map Popup
	.popup-container {
		cursor			: auto;
		height			: 0;
		position		: absolute;
		width			: 320px;
		font-family		: var(--font-body);
		font-size		: var(--font-size);

		.popup-tip {
			position		: absolute;
			width			: 100%;
			bottom			: 8rem;

			&::after {
				content 		: "";
				position 		: absolute;
				top				: -1px;
				left			: 0;
				transform		: translate(-50%, 0);
				border-left		: 1rem solid transparent;
				border-right	: 1rem solid transparent;
				border-top		: 1rem solid #fff;
			}
		}

		.popup-content {
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-50%, -100%);
			
			background-color	: #fff;
			box-shadow 			: 0 6px 16px #00000022;
		}
	}

	// HUD
	.hud {
		position			: absolute;
		top 				: 2rem;
		left 				: 2rem;
		bottom 				: 2rem;
		width 				: 30%;
		min-width 			: 400px;
		z-index 			: 6000;

		display 			: flex;
		flex-direction		: column;

		color 				: var(--color-text);
		background-color	: #fff;
		border-radius		: calc(var(--roundness) * 2);

		.info {
			flex-shrink		: 0;
			padding			: 4rem 4rem 2rem;

			.description {
				margin-bottom 	: 0;
				font-size 		: 0.94em;
				opacity 		: 0.75;
			}
		}

		.locations {
			flex-grow 		: 1;
			overflow-x 		: hidden;
			overflow-y 		: auto;

			.location {
				font-size	: 0.9em;
				padding 	: 2rem 4rem;
				cursor 		: pointer;

				.location-address {
					font-style	: normal;
					opacity 	: 0.75;
					line-height	: 1.2;
				}

				.location-phone {
					margin-top		: 1rem;
					display			: inline-block;
					text-decoration	: none;
					color 			: var(--color-primary);
					width 			: fit-content;
				}

				&:hover {
					background-color: #00000010;
				}

				&:active {
					opacity: 0.6;
				}

				&.active {
					box-shadow: inset 6px 0 0 var(--color-secondary);
					background-color: #00000004;
				}
			} // end of .location

		} // end of .locations

	} // end of .hud

} // end of .map
