// ====================================================================
// - Virgo Base Class
// - Anchor <a>
// ====================================================================
a:not([class]) {
	color 			: var(--color-primary);
	transition 		: var(--transition);
	text-decoration	: none;

	&:hover {
		text-decoration	: underline;

		i.icon {
			text-decoration: none;
		}
	}

	&:active {
		transition-duration	: 0s;
		opacity 			: 0.6;
	}
}