// =============================================================================
// - Virgo Base Class
// - Button
// =============================================================================

button {
	border				: none;
	background-color	: transparent;
}

button, a.button {

	// -------------------------------------------------------------------------
	// • Default style
	// -------------------------------------------------------------------------

	--bg 				: var(--color-background);
	--text 				: var(--color-text);
	--hover-bg			: #eff1f3;
	--pressed-bg		: #dcdee2;

	display				: inline-flex;
	justify-content		: center;
	align-items			: center;
	vertical-align		: middle;
	font-size			: var(--font-size, 1em);
	font-weight 		: 500;
	line-height			: 2rem;
	text-decoration		: none;
	user-select			: none;

	height				: 4rem;
	margin				: 0;
	padding				: 0 2rem;

	background-color	: var(--bg);
	color 				: var(--text);
	border-radius		: var(--roundness, 0px);
	cursor				: pointer;

	transition  		: all 0.3s ease-out;

	-webkit-tap-highlight-color: transparent;

	&:focus {
		box-shadow	: 0 0 0 4px var(--color-focus);
		outline		: none;
	}
	&:hover {
		box-shadow 		: none;
		background-color: var(--hover-bg);
	}

	// Pressed state -----------------------------------------------------------
	&:active {
		background-color 	: var(--pressed-bg);
		transition-duration	: 0s;
		opacity				: 0.75;
		box-shadow 			: none;
	}

	// -------------------------------------------------------------------------
	// • Coloring
	// -------------------------------------------------------------------------
	// - Primary
	// -------------------------------------------------------------------------
	&.primary {
		--text			: var(--color-background);
		--bg			: var(--color-primary);
		--hover-bg		: var(--color-primary-light);
		--pressed-bg	: var(--color-primary-dark);
	}
	// -------------------------------------------------------------------------
	// - Secondary
	// -------------------------------------------------------------------------
	&.secondary {
		--text			: var(--color-background);
		--bg			: var(--color-secondary);
		--hover-bg		: var(--color-secondary-light);
		--pressed-bg	: var(--color-secondary-dark);
		--color-focus 	: var(--color-focus-secondary);
	}
	// -------------------------------------------------------------------------
	// - White
	// -------------------------------------------------------------------------
	&.white {
		--text	: var(--color-text);
		--bg	: #ffffff;
	}
	// -------------------------------------------------------------------------
	// - Link
	// -------------------------------------------------------------------------
	&.link {
		--text	: var(--color-primary);
	}
	// -------------------------------------------------------------------------
	// - Link & Secondary
	// -------------------------------------------------------------------------
	&.link.secondary {
		--text	: var(--color-secondary);
		--bg	: transparent;
	}

	// -------------------------------------------------------------------------
	// • Outlined Style
	// -------------------------------------------------------------------------
	// - Default outlined style
	// -------------------------------------------------------------------------
	&.outline {
		--outline-color: var(--color-text);
		background-color: transparent;
		box-shadow: inset 0 0 0 2px var(--outline-color);

		// ---------------------------------------------------------------------
		// - Outlined with primary style
		// ---------------------------------------------------------------------
		&.primary {
			--outline-color: var(--color-primary);
			color: var(--color-primary);

			// Hover state -----------------------------------------------------
			&:hover {
				filter: none;
				color: var(--color-background);
				background-color: var(--color-primary);
			}

			// Pressed state ---------------------------------------------------
			&:active {
				filter: brightness(95%);
			}
		}

		// ---------------------------------------------------------------------
		// - Outlined with secondary style
		// ---------------------------------------------------------------------
		&.secondary {
			--outline-color: var(--color-secondary);
			color: var(--color-secondary);

			// Hover state -----------------------------------------------------
			&:hover {
				filter: none;
				color: var(--color-background);
				background-color: var(--color-secondary);
			}

			// Pressed state ---------------------------------------------------
			&:active {
				filter: brightness(95%);
			}
		}

		// ---------------------------------------------------------------------
		// - Outlined with white coloring
		// ---------------------------------------------------------------------
		&.white {
			--outline-color: #ffffff;
			color: #ffffff;

			// Hover state -----------------------------------------------------
			&:hover {
				filter: none;
				color: var(--color-text);
				background-color: #ffffff;
			}

			// Pressed state ---------------------------------------------------
			&:active {
				filter: brightness(95%);
			}
		}

	} // End of outlined style

	// -------------------------------------------------------------------------
	// • Icon
	// -------------------------------------------------------------------------
	// - Icon inside button
	// -------------------------------------------------------------------------
	// Icon in left-hand side before the text
	i.icon {
		margin-right: 1rem;
		margin-left: -1rem;
		font-size: 2rem;
	}

	// Icon in right-hand side after the text
	i.icon:last-child {
		margin-left: 1rem;
		margin-right: -1rem;
	}

	// Single icon
	i.icon:only-child {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	// -------------------------------------------------------------------------
	// • Sizing
	// -------------------------------------------------------------------------
	// - Block
	// -------------------------------------------------------------------------
	&.block {
		display: block;
		width: 100%;
	}

	// -------------------------------------------------------------------------
	// - Small
	// -------------------------------------------------------------------------
	&.small {
		height: 3rem;
		padding: 0 0.8rem;
		font-size: 0.90em;
	}

	// -------------------------------------------------------------------------
	// - Large
	// -------------------------------------------------------------------------
	&.large {
		height: 5rem;
		padding: 0 2rem;
		font-size: 1.2em;
	}

	// -------------------------------------------------------------------------
	// - Circle
	// -------------------------------------------------------------------------
	&.circle {
		width 			: 4rem;
		height 			: 4rem;
		padding 		: 0;
		border-radius 	: 50%;
		align-items		: center;
		justify-content	: center;
	}

	// Touch Device
	@media (hover: none) and (pointer: coarse) {
		& {
			
			height: 5rem;
			padding: 1rem 2.5rem;

			&:active {
				background-color: var(--hover-bg);
				opacity: 0.5;
			}
		}

		&.circle {
			width: 5rem;
			height: 5rem;
		}

		i.icon {
			font-size: 2.5rem;
		}
	}

} // End of button style

