// • Normal Spacing
// - Mobile & Tablets
@media screen and (hover: none) and (pointer: coarse) {
	body {
		--button-height : 5rem;
	}
}

// • Compact Spacing
body.spacing-compact {
	--space 		: 0.5rem;
	--button-height : calc(var(--button-height) * 0.75);
};